
source ./resources/common_shell.sh

# Variables need to fill when running this shell
PARTITION=$1
DATE=$2

JOB_NAME="{job_name}"
JOB_COMMAND_LIST_RETRY_FLAG={job_command_list_retry_flag}
JOB_COMMAND_LIST="{job_command_list}"

ExecuteJob